progress {
  color: rgb(14 116 144);
}

progress::-webkit-progress-value {
  background-color: rgb(14 116 144);
  border-radius: 20px;
}

progress::-webkit-progress-bar {
  background-color: rgb(207 250 254);
  border-radius: 20px;
}
