<!doctype html>

{% for asset in page.assets %}<!---->
{% if asset is ending_with("data.toml") %}<!---->
{% set_global data = load_data(path=asset, format="toml") %}<!---->
{% endif %}<!---->
{% endfor %}<!---->

{% set section = get_section(path="_index.md") %}<!---->
{% set_global other_locales = [] %}<!---->
{% for other_page in section.pages %}<!---->
{% if page != other_page %}<!---->
{% set_global other_locales = other_locales | concat(with=other_page.slug) %}<!---->
{% endif %}<!---->
{% endfor %}<!---->

<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <title>{{ data.title }} | {{ data.name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ data.title }} | {{ data.name }}" />
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="mx-auto gap-6 p-6 lg:container md:flex print:flex">
      <div class="flex basis-3/4 flex-col gap-4">
        <section id="bio" class="mb-2 flex">
          <div class="grow">
            <h2 class="mb-4 text-5xl font-black text-cyan-700">{{ data.name }}</h2>
            <p class="text-xl">{{ data.bio }}</p>
            <p class="font-light">{{ data.description | markdown | safe }}</p>
          </div>
          <div class="text-xl print:hidden">
            {% for locale in other_locales %}
            <a
              href="{{ get_url(path='/' ~ locale) }}"
              class="p-2 uppercase duration-300 hover:rounded hover:bg-cyan-100"
              >{{ locale }}</a
            >
            {% endfor %}
          </div>
        </section>
        <section id="introduction">
          <h2 class="mb-4 text-xl font-bold uppercase tracking-widest text-cyan-700">
            {{ data.t.introduction }}
          </h2>
          <div class="mb-2 rounded border border-solid border-gray-300 p-4">
            <div>{{ data.introduction | markdown | safe }}</div>
          </div>
        </section>
        <section id="work">
          <h2 class="mb-4 text-xl font-bold uppercase tracking-widest text-cyan-700">
            {{ data.t.work_experience }}
          </h2>
          <div class="flex flex-col gap-2">
            {% for job in data.work_experience %}
            <div class="rounded border border-solid border-gray-300 p-4">
              <div class="mb-2 flex items-center justify-between">
                <h2 class="text-xl font-bold">{{ job.position }}, {{ job.company }}</h2>
                <h3 class="text-gray-400">{{ job.start }} - {{ job.end }}</h3>
              </div>
              <div>{{ job.content | markdown | safe }}</div>
            </div>
            {% endfor %}
          </div>
        </section>
        <section id="projects">
          <h2 class="mb-4 text-xl font-bold uppercase tracking-widest text-cyan-700">
            {{ data.t.projects }}
          </h2>
          <div class="flex flex-col gap-2">
            {% for project in data.projects %}
            <div class="rounded border border-solid border-gray-300 p-4">
              <h2 class="text-xl font-bold">{{ project.name }} – {{ project.subtitle }}</h2>
              <p class="mb-2">
                <a
                  class="mb-2 flex items-center gap-1 hover:text-cyan-700 hover:underline"
                  href="{{ project.repository }}"
                  target="_blank"
                >
                  <i class="i-fa6-brands-github"></i>
                  {{ project.repository }}
                </a>
              </p>
              <div>{{ project.description | markdown | safe }}</div>
            </div>
            {% endfor %}
          </div>
        </section>
      </div>
      <div class="flex basis-1/4 flex-col gap-6">
        <section id="contact">
          <div class="mb-4 flex flex-col text-xl font-light">
            <div class="flex items-center gap-1">
              <div class="i-fa6-solid-location-dot"></div>
              <p class="grow">{{ data.location }}</p>
            </div>
            <div class="flex items-center gap-1">
              <div class="i-fa6-solid-calendar-days font-bold"></div>
              <p class="grow">{{ data.birthday }}</p>
            </div>
            <div class="flex items-center gap-1">
              <div class="i-fa6-solid-envelope"></div>
              <p class="grow">
                <a
                  class="hover:text-cyan-700 hover:underline"
                  href="mailto:{{ data.email }}"
                  target="_blank"
                >
                  {{ data.email }}
                </a>
              </p>
            </div>
            {% if data.phone %}
            <div class="flex items-center gap-1">
              <div class="i-fa6-solid-phone"></div>
              <p class="grow">{{ data.phone }}</p>
            </div>
            {% endif %}
          </div>
          <div class="flex flex-col">
            {% for link in data.links %}<!---->
            {% if link.url %}
            <a
              class="flex items-center gap-1 hover:text-cyan-700 hover:underline"
              href="{{ link.url }}"
              target="_blank"
            >
              <i class="{{ link.icon }}"></i>{{ link.name | default(value=link.url) | safe }}
            </a>
            {% else %}
            <div class="flex items-center gap-1 hover:text-cyan-700 hover:underline">
              <i class="{{ link.icon }}"></i>{{ link.name | safe }}
            </div>
            {% endif %}<!---->
            {% endfor %}
          </div>
        </section>
        <section id="stack">
          <h2 class="mb-4 text-xl font-bold uppercase tracking-widest text-cyan-700">
            {{ data.t.stack }}
          </h2>
          <div class="flex flex-wrap gap-x-1 gap-y-2">
            {% for item in data.stack %}
            <span class="inline-block rounded bg-cyan-700 px-2 py-1 text-white">{{ item }}</span>
            {% endfor %}
          </div>
        </section>
        <section id="skills">
          <h2 class="mb-4 text-xl font-bold uppercase tracking-widest text-cyan-700">
            {{ data.t.skills }}
          </h2>
          <div class="flex flex-col gap-2">
            {% for skill in data.skills %}
            <div>
              <p>{{ skill.name }}</p>
              <progress
                max="100"
                aria-labelledby="progress-id"
                value="{{ skill.value }}"
                class="block h-1.5 w-full"
              ></progress>
            </div>
            {% endfor %}
          </div>
        </section>
        <section id="education">
          <h2 class="mb-4 text-xl font-bold uppercase tracking-widest text-cyan-700">
            {{ data.t.education }}
          </h2>
          <div class="flex flex-col gap-2">
            {% for item in data.education %}
            <div>
              <h2 class="text-xl font-bold">{{ item.school }}</h2>
              <h3 class="mb-2">{{ item.start }} - {{ item.end }}</h3>
              <p>{{ item.major }} / {{ item.degree }}</p>
              <div>{{ item.content | markdown | safe }}</div>
            </div>
            {% endfor %}
          </div>
        </section>
        <section id="awards">
          <h2 class="mb-4 text-xl font-bold uppercase tracking-widest text-cyan-700">
            {{ data.t.awards }}
          </h2>
          <div class="flex flex-col gap-2">
            {% for award in data.awards %}
            <p>{{ award.date }} {{ award.name }}</p>
            {% endfor %}
          </div>
        </section>
        <section id="projects">
          <h2 class="mb-4 text-xl font-bold uppercase tracking-widest text-cyan-700">
            {{ data.t.projects }}
          </h2>
          <div class="flex flex-col gap-2">
            {% for project in data.other_projects %}
            <div>
              <h2 class="text-xl font-bold">{{ project.name }}</h2>
              <p class="mb-2">
                <a
                  class="mb-2 flex items-center gap-1 hover:text-cyan-700 hover:underline"
                  href="{{ project.repository }}"
                  target="_blank"
                >
                  <i class="i-fa6-brands-github"></i>
                  {{ project.repository | trim_start_matches(pat="https://github.com/") }}
                </a>
              </p>
              <div>{{ project.subtitle | markdown | safe }}</div>
            </div>
            {% endfor %}
          </div>
        </section>
        <footer class="font-light text-gray-300">
          <p>Made by Yishi Gao with Zola & UnoCSS</p>
          <p>
            <a
              class="flex items-center gap-1"
              href="https://github.com/st1020/resume"
              target="_blank"
            >
              <i class="i-fa6-brands-github"></i> https://github.com/st1020/resume
            </a>
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
